.header
{
    border-bottom: 2px solid #ffffff;
    background-color: rgb(255, 255, 255);

font-family: 'Glegoo';
font-style: normal;
}

.cus-card
{
    background: linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%);
    border: 1px solid rgba(175, 175, 175, 0.74);
border-radius: 11.3498px;
}

.navbar-nav{
    display: flex;
    gap: 4rem;
    font-size: 20px;
    margin-top: 30px;
}

.header li a
{
    text-decoration: none;
    color:white;
}
 li a:hover
{
    text-decoration: none;
    color:yellow;
    font-weight: 700;
}
html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: overline;

    color: black;
   } 
#Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: rebeccapurple;
    background: url("../assets/Images/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    
}

.asd{
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.desc{
    max-width: 1200px;
    height: 300px;
    
}
.b{
    width: 200px;
    height: 60px;
}

.cus-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    height: 300px;
    width: 100vw;
    /* gap: 4rem; */
    background-color: black;
}    
.custom-footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}    

.derd
{
font-family: 'Glegoo';
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 58px;
}

    

.perp{
 
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    gap: 1rem;
      
}

.block{
  width: 918px;
height: 52px;
left: 299px;
top: 913px;
margin-top: 2rem;
margin-left: 8rem;
background: #0D0D0D;
}

.input-size{
    font-size: 25px;
    width: 900px;
    height: 80px;
    outline: none;
    
}
.Heading_size{
    margin-right:23rem;
    font-size: 35px;

}
.Cus_Contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    
}
.Contact_Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 4rem;
    width: 451px;
height: 565px;
left: 80px;
top: 176px;
background: #0D0D0D;
    
    

}
.Contact_Us{
    align-items: center;
    justify-content: center;
    width: 805px;
height: 565px;
left: 531px;
top: 177px;

background: #F5F5F5;;
mix-blend-mode: normal;

}
.input-size_2{
    font-size: 25px;
    width: 680px;
    height: 90px;
    outline: none;
    margin-left: 2rem;
    margin-top: 1rem;

}
.Contact_btn{
    width: 680.37px;
height: 52.29px;
left: 593px;
top: 607px;
margin-left: 3rem;
margin-top: 2rem;


}